body {
    font-family: Arial;  
    line-height: 25px;      
}

img {
    width: 100%;
}

.column{
    width: 600px;
    margin: 40px auto;
    border: dotted 10px gray;  
    padding: 50px;    
}

p {
    border: solid 5px coral;
    padding: 20px;
    border-radius: 10px;
}
