body {
    font-family: Arial;  
    line-height: 25px;
}

img {
    width: 100%;
}

.column{
    width: 600px;
    margin: 40px auto;
}

h1 {
    font-size: 60px;
    font-family: Georgia;    
}

a{
    color: darkblue;
}

h1, h2 {    
    text-shadow: 0px 0px 20px green;
    color: green;
}